header{
    .top{
        display: flex;
        justify-content:space-between;
        align-items: center;
        position: relative;
        height: 200px;
        background-color: #ddd;
        h1{
            @include position-Center;
            @include btn;

        }
        a{
            display: block;
            height: 100%;
        }
        div{
            @include btn;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        background-color: #eee;
        ul{
            display: flex;
        }
        li{
            padding: 20px 30px;
            background-color: pink;
        }
    }
}